.sidebar-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  // .more-action {
  //   display: none;
  // }

  &__header {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.02);
    height: auto;
    line-height: auto;
    background-color: #fff;
  }
}

.message-list-infinite-container {
  overflow: auto;
  height: calc(100vh - 125px);

  .message-time {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
  }

  .list-description {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  .ant-list-item {
    padding: 10px 12px 0 12px;
    min-height: 85px;
    transition: height 2s;
    &:hover {
      display: flex;
      background-color: #f2f5fa;
      // .more-action {
      //   display: block;
      // }
    }

    .item-selected {
      display: flex;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
  }
}

.demo-infinite-container {
  overflow: auto;
  padding: 8px 24px;
  height: calc(100vh - 125px);
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.02);
  .ant-image-img {
    border-radius: 1.3em;
  }

  .more-action {
    display: none;
  }

  .chat-content-sender {
    .ant-list-item {
      padding: 4px 0;
      flex-direction: row-reverse !important;
      .ant-list-item-meta {
        flex-direction: row-reverse !important;
      }
    }
  }
}

.ant-list-item {
  border: none !important;
}

.chat-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  .ant-list-item {
    &:hover {
      .more-action {
        display: block;
      }
    }
  }

  .ant-list-item-meta-content {
    width: auto !important;
    max-width: 40vw;
    flex: none;
  }

  .message-video {
    width: 25vw;
    border-radius: 1.3em;
  }

  &__message {
    background-color: rgb(241, 240, 240);
    border-radius: 19.5px;
    color: rgb(34, 34, 34);
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 0;
    font-weight: 350;
    font-family: inherit;
    font-size: 15px;
    line-height: 19px;
    margin: 1px 0;
    padding: 6px 12px 7px;
    text-align: left;
  }

  .chat-content-sender {
    .chat-content__message {
      background-color: rgb(215, 244, 254);
      text-shadow: rgba(0, 0, 0, 0.4) 0 0 0;
      font-weight: 350;
      border-radius: 19.5px;
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 19px;
      margin: 1px 0;
      padding: 6px 12px 7px;
      text-align: left;
      a {
        color: #000;
      }
    }
  }

  .ant-list-item {
    padding: 4px 0;
  }
}

.chat-footer {
  display: flex;
  flex: 1;
  padding: 6px;
  flex-direction: column;
  background-color: #fff;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  input[type="file"] {
    display: none;
  }
  .ant-input-affix-wrapper {
    border-color: rgb(221, 223, 226);
    border-radius: 18px;
    border-style: solid;
    width: calc(100vw - 480px);
    border-width: 1px;
    color: rgb(29, 33, 41);
    display: flex;
    line-height: 12px;
    padding: 6px 12px;
    min-width: 30vw;
    &:focus {
      box-shadow: none;
    }
  }
}

.right-content {
  overflow: auto;
  height: calc(100vh - 125px);
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  background-color: #fff;
}

.contact-name {
  font-size: 20px;
  font-weight: 500;
}

.search-message {
  padding: 10px;
  .ant-input-affix-wrapper {
    border-color: rgb(221, 223, 226);
    border-radius: 18px;
    border-style: solid;
    width: calc(100vw - 480px);
    border-width: 1px;
    color: rgb(29, 33, 41);
    display: flex;
    line-height: 12px;
    padding: 6px 12px;
    min-width: 15vw;
    &:focus {
      box-shadow: none;
    }
  }
}

.ant-popover-inner {
  border-radius: 20px;

  &-content {
    padding: 6px 8px 6px 8px;
  }

  .emoji-mart-emoji {
    padding: 0 3px;
    &:hover {
      cursor: pointer;
      transform: scale(1.4);
      transition: 0.3s;
    }
  }
}

input[type="file"] {
  display: none !important;
}

svg {
  &:hover {
    cursor: pointer;
  }
}

@media all and (min-width: 768px) {
  .chat-footer {
    .ant-input-affix-wrapper {
      width: calc(100vw - 480px);
    }
  }
}

@media all and (max-width: 480px) {
  .chat-footer {
    .ant-input-affix-wrapper {
      width: calc(100vw - 130px);
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .chat-footer {
    .ant-input-affix-wrapper {
      width: calc(100vw - 130px);
    }
  }
}
